$color-primary-1: #ff512f;
$color-primary-2: #dd2476;

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	background-image: linear-gradient(
		to right,
		$color-primary-1,
		$color-primary-2
	);
	min-height: 100vh;
}
